*:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}

body{
    margin:10px;
}

a{
    text-decoration: none;
}

/* esconde as ancoras da tela */
a.links{
    display: none;
}

/* content que contem os formulários */
.content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
}

/* formatando o cabeçalho dos formulários */
h1{
    font-size: 48px;
    color: #6f2abc;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}
h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;

    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

p{
    margin-bottom:15px;
}
p:first-child{
    margin: 0px;
}
label{
    color: #6f2abc;
    position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
    color: #6f2abc; 
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #6f2abc;
    font-style: italic;
} 
input {
    outline: none;
}
textArea {
    outline: none;
}


input:not([type="title"]){
    width: 50%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #ffffff;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(44, 42, 42, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(44, 42, 42, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"]{
    width: 20%!important;
    float: right;
    cursor: pointer;  
    background: #6f2abc;
    padding: 8px 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    font-family: Arial, sans-serif;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.2s linear;
}
input[type="submit"]:hover{
    background: #4ab3c6;
    font-family: Arial, sans-serif;
}

textArea:not([type="description"]){
    width: 100%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #ffffff;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(44, 42, 42, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(44, 42, 42, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*marcando os links para mudar de um formulário para outro */
.link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;

    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
}
.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
}

/* estilos para para ambos os formulários */
#cadastro, 
#cliente{
    width: 90%;
}
#vendedor{
    width: 80%;
}
#data_venda{
    width: 80%;
    height: 15px;
}
#desconto{
    width: 80%;
}
#cod_produto{
    width: 80%;
}
#quantidade{
    width: 80%;
}
#div,#dados1{
    width: 100%;
	height: 30px;
}
#col1{
    width: 23%;
    float: left;
}
#col2{
    width: 33%;
    float: left;
}
#chave_acesso{
    width: 90%;
}
#codigo{
    width: 80%;
}
#CFOP{
    width: 80%;
}
#numero_nota{
    width: 80%;
}
#total{
	width: 100%;
	color: #6f2abc;
	padding: 100px;
	font-size: 40px;
}	
#dados3{
    float: left;
	width: 100%;
	height: 50px;
}
#dados4{
	width: 100%;
	height: 400px;
}
#button, #btn{
    width: 20%;
    float: right;
    cursor: pointer;  
    background: rgb(243, 72, 72);
    padding: 8px 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
}
#button, #adicionar{
    cursor: pointer;  
    background: rgb(72, 89, 243);
    padding: 8px 5px;
    color: rgb(255, 255, 255);
    font-size: 10px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 40px;
    font-family: Arial, sans-serif;
}

#tabela{
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: 100px 100px 70px 20px;
    padding: 10px 5px;
    font-size: 20px;
    text-align: center;
    color: #6f2abc;
}

#tabela tr.selecionado td{
  background-color: #aff7ff;
}

section{
    float: none;
    width: 100%;
    margin: 50px auto;
    color: #6f2abc;
}

#h3{
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
    color: #6f2abc;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}